/* design-simple */

body {
  background-image: url(../Images/Fonds-d-écrans/System76-Fractal_Mountains-by_Kate_Hazen_of_System76.png);
  color: hsl(200, 98%, 26%);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 32px;
}

strong {
  color: hsl(200, 98%, 13%)
}

a {
  color: hsl(200, 98%, 26%);
}

a:visited {
  color: hsl(200, 98%, 13%);
}

img {
  height: 26%;
  width: 26%;
}

h1, h2, h3, h4, h5, h6, div {
  margin: 32px;
}

ol, ul, li {
  margin: 32px 64px;
}

/* RubRub was here. */

.rubrub {
  visibility: hidden;
  font-family: "Playball", cursive;
  font-size: 66,6px;
  color: red;
}

.rubrub-is-strong {
  color: black;
}

/* latin-ext */

@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(Polices/Playball/Latin-EXT.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: local('Playball'), local('Playball-Regular'), url(Polices/Playball/Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
